@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Medium.eot');
    src: url('../assets/fonts/Figtree-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Figtree-Medium.woff2') format('woff2'),
        url('../assets/fonts/Figtree-Medium.woff') format('woff'),
        url('../assets/fonts/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Bold.eot');
    src: url('../assets/fonts/Figtree-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Figtree-Bold.woff2') format('woff2'),
        url('../assets/fonts/Figtree-Bold.woff') format('woff'),
        url('../assets/fonts/Figtree-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Regular.eot');
    src: url('../assets/fonts/Figtree-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Figtree-Regular.woff2') format('woff2'),
        url('../assets/fonts/Figtree-Regular.woff') format('woff'),
        url('../assets/fonts/Figtree-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-ExtraBold.eot');
    src: url('../assets/fonts/Figtree-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Figtree-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Figtree-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Light.eot');
    src: url('../assets/fonts/Figtree-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Figtree-Light.woff2') format('woff2'),
        url('../assets/fonts/Figtree-Light.woff') format('woff'),
        url('../assets/fonts/Figtree-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Black.eot');
    src: url('../assets/fonts/Figtree-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Figtree-Black.woff2') format('woff2'),
        url('../assets/fonts/Figtree-Black.woff') format('woff'),
        url('../assets/fonts/Figtree-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}